<p-toast [style]="{marginTop: '400px'}"></p-toast>
<h3>Wizard Steps</h3>
<h3 class="first">Basic</h3>
<p-steps [model]="items"></p-steps>

<h3>Clickable</h3>
<p-steps [model]="items" [(activeIndex)]="this.activeIndex" [readonly]="false"></p-steps>

<h3>Custom Style</h3>
<app-pe-steps [(activeIndex)]="activeIndex" (change)="onChange($event)">
  <app-pe-step label="First Step">
    // content of the first step
  </app-pe-step> 
  <app-pe-step label="Second Step">
    // content of the second step
  </app-pe-step> 
  <app-pe-step label="Third Step">
    // content of the third step
  </app-pe-step>
</app-pe-steps>
